main {
    font-size: 1rem;
}

main h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--text-color);
}


.auth-container {
    padding: 20px;
    background-color: var(--content-primary-color);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.2);
    border: 1px solid var(--content-secondary-color);
}

.login-container {
    width: 280px;
    height: 240px;
}

.register-container {
    width: 280px;
    height: 320px;
}

.change-password-container {
    width: 280px;
    height: 280px;
}

form {
    display: flex;
    flex-direction: column;
}

.auth-container label {
    margin-bottom: 8px;
    color: var(--text-color);
}

.auth-container input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 14px;
}

.auth-container button {
    background-color: #238636;
    color: white;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
}

.auth-container button:hover {
    background-color: #2ea043;
}

.auth-container a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
    margin-top: 8px;
}