<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/images/icon.png">

    <link rel="stylesheet" href="/static/css/auth.css">

    <script src="/static/js/login.js" defer></script>

    <title>Sign in</title>
</head>
<body>
    <h1>Sign in to test web</h1>
    <div class="login-container auth-container">
        <form id="loginForm">
            <label for="username">Username</label>
            <input type="text" name="username" required />
            <label for="password">Password</label>
            <input type="password" name="password" required />
            <button type="submit">Sign in</button>
            <p>New to test web? <a href="/register">Create an account</a></p>
        </form>
    </div>
</body>
</html>