<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/images/icon.png">

    <link rel="stylesheet" href="/static/css/auth.css">

    <script src="/static/js/register.js" defer></script>

    <title>Sign up</title>
</head>
<body>
    <h1>Sign up to test web</h1>
    <div class="register-container">
        <form id="registerForm">
            <label for="username">ID</label>
            <input type="text" name="username" required />
            <label for="password">Password</label>
            <input type="password" name="password" required />
            <button type="submit">Sign up</button>
            <p>Already have an account? <a href="/login">Sign in</a></p>
        </form>
    </div>
</body>
</html>