{%extends "base.html"%}
{%block head%}
<script src="/static/js/admin.js" defer></script>
<style>
    main {
        justify-content: flex-start;
    }
</style>
{%endblock%}

{%block content%}
<h1>Admin Dashboard</h1>
<p>Welcome, <span class="user_name"></span>!</p>
<ul id="user-list"></ul>
<form id="userModifyForm">
    <input type="text" name="attribute" placeholder="Attribute (e.g., role)">
    <input type="text" name="value" placeholder="Value (e.g., true)">
    <label><input type="radio" name="type" value="int">integer</label>
    <label><input type="radio" name="type" value="str">string</label>
    <label><input type="radio" name="type" value="bool">boolean</label>
</form>
{%endblock%}