<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/images/jbsh_icon.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap"
        rel="stylesheet">

    <script src="https://kit.fontawesome.com/4479351da8.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/static/css/base.css">
    <script src="/static/js/navbar.js" defer></script>

    <title>{% block title %}I.o.T.{% endblock %}</title>

    {% block head %}
    {% endblock %}
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="navbar_logo toggle_menu">
                <img src="/static/images/jbsh_icon.png" alt="">
                <a href="/">I.o.T.</a>
            </div>

            <ul class="navbar_menu toggle_menu">
                <li><a href="/">Home</a></li>
                <li><a href="">Introduction</a></li>
                <li><a href="">Members</a></li>
                {% if user and user.is_admin %}
                <li><a href="/admin">Admin</a></li>
                {% endif %}
            </ul>
            <ul class="navbar_icons toggle_menu">
                <li><a href="https://github.com/nosmeri"><i class="fa-brands fa-github"></i></a></li>
            </ul>

            {% if not user %}
            <ul class="navbar_login toggle_menu">
                <li><a href="/login" class="navbar_btn">Sign in</a></li>
                <li><a href="/register" class="navbar_btn">Sign up</a></li>
            </ul>
            {% endif %}

            {% if user %}
            <div class="navbar_user toggle_menu">
                <span class="user_name"><a href="/mypage">{{ user.username }}</a></span>
                <a href="/logout" class="navbar_btn">Logout</a>
            </div>
            {% endif %}

            <a href="#" class="navbar_toggleBtn"><i class="fa-solid fa-bars"></i></a>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>