{%extends "base.html"%}
{%block title%}Change password{%endblock%}
{%block head%}
<link rel="stylesheet" href="/static/css/auth.css">
<script type="module" src="/static/js/changepw.js" defer></script>
{%endblock%}
{%block content%}
<h1>Change password</h1>
<div class="change-password-container auth-container">
    <form id="changePWForm">
        <label for="currentPassword">Current Password</label>
        <input type="password" name="currentPassword" id="currentPassword" autocomplete="current-password" required />
        <label for="newPassword">New Password</label>
        <input type="password" name="newPassword" id="newPassword" autocomplete="new-password" required />
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" name="confirmPassword" id="confirmPassword" autocomplete="new-password" required />
        <button type="submit">Change Password</button>
    </form>
</div>
{%endblock%}